
body {
    background-color: #D3B38C;
    color: #C3A77B;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	font-style: bold;
	color: #C3A77B;
}

footer {
	font-style: bold;
	font-size: 100%;
	color: #C3A77B;
}

